// // Define desired color palettes.
$primary: "blue-grey";
$accent: "pink";
$warn: "red";
$background: "grey";
$link: "light-blue";

@import "color-palette";
// $color-blue-grey: map-merge($color-blue-grey, ('500':  rgba(38, 50, 56, 1)));

@import "ember-paper";

md-toolbar.md-default-theme.my-class {
  color: color($primary, 'contrast');
  background-color: color("blue-grey", '900');
}

// .logo {
//   text-decoration: none;
// }
