// // Define desired color palettes.
$primary: "blue-grey";
$accent: "pink";
$warn: "red";
$link: "light-blue";

$base-text-color: #d5d5d5;
$base-background-color: #363636;

@import "color-palette";
// $color-blue-grey: map-merge($color-blue-grey, ('500':  rgba(38, 50, 56, 1)));

@import "ember-paper";

md-toolbar.md-default-theme.my-class {
  color: color($primary, 'contrast');
  background-color: color("blue-grey", '900');
}

body {
  color: $base-text-color;
  background-color: $base-background-color;
  z-index: 1;
}

/* Font Styles
========================================================================== */
@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-Medium.woff');
}

@font-face {
  font-family: 'Lato Light';
  src: url('fonts/lato/Lato-Light.woff');
}

@font-face {
  font-family: 'Lato Thin';
  src: url('fonts/lato/Lato-Thin.woff');
}

body {
  font-family: 'Lato', 'sans-serif';
}

.lato_light {
  font-family: 'Lato Light', 'sans-serif';
}

.lato_thin {
  font-family: 'Lato Thin', 'sans-serif';
}

.lato_regular {
  font-family: 'Lato Regular', 'sans-serif';
}

/* Miscellaneous Helpers & Overrides
========================================================================== */
.marginless-top {
    margin-top: 0px;
}

.marginless-bottom {
    margin-bottom: 0px;
}

.minecraft_256 {
  background: url('images/games/minecraft_square.jpg') center / cover;
}
.gmod_256 {
  background: url('images/games/gmod_256.jpg') center / cover;
}
.rust_256 {
  background: url('images/games/rust_256.jpg') center / cover;
}
.terraria_256 {
  background: url('images/games/terraria_256.jpg') center / cover;
}

