{{!--<div class='layout-row header'>
  <p>
    {{paper-icon "check-circle" size=48}}
  </p>
</div>--}}

{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <span href="#">
      <a class="logo" href="#">Egee.io</a>
    </span>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
